# Week 5 Assignment
<br><b>Student Name:</b> Karthik Maddipoti
<br><b>Student ID:</b> 005864907
<br><b>Course:</b> UCLA MSBA Python Workshop 2021
<br><b>Instructor:</b> Paul Deitel

## Self Assessment
* I have completed all the exercises for week 5. I was able to complete them without any issues
* I have incorporated the feedback I received in my previous assignments in this week's submission

____________

In [1]:
# Loading required packages
import pandas as pd
import numpy as np
import re

## Chapter 7 - Array-Oriented Programming with NumPyâ€”Intro to Pandas Part 1

### 7.23 (Pandas: DataFrames) Perform the following tasks with pandas DataFrames:
<br> **a)** Create a `DataFrame` named `temperatures` from a dictionary of three temperature readings each for `'Maxine'`, `'James'` and `'Amanda'`.

**Solution a):**

In [2]:
# Creating the 'temperatures' dictionary
temperatures_dict = {'Maxine': [64, 75, 70], 
                     'James': [79, 61, 56], 
                     'Amanda': [63, 72, 65]}

# Creating a DataFrame using 'temperatures' dictionary
temperatures = pd.DataFrame(temperatures_dict)
temperatures.head(3)

   Maxine  James  Amanda
0      64     79      63
1      75     61      72
2      70     56      65

<br> **b)** Recreate the `DataFrame` `temperatures` in Part (a) with custom indices using the index keyword argument and a list containing `'Morning'`, `'Afternoon'` and `'Evening'`.

**Solution b):**

In [3]:
# Assigning custom index to the 'temperatures' DataFrame
temperatures.index = ['Morning', 'Afternoon', 'Evening']
temperatures.head(3)

           Maxine  James  Amanda
Morning        64     79      63
Afternoon      75     61      72
Evening        70     56      65

<br> **c)** Select from `temperatures` the column of temperature readings for `'Maxine'`.

**Solution c):**

In [4]:
# Temperature readings for 'Maxine'
temperatures['Maxine']

Morning      64
Afternoon    75
Evening      70
Name: Maxine, dtype: int64

<br> **d)** Select from `temperatures` the row of `'Morning'` temperature readings.

**Solution d):**

In [5]:
# 'Morning' temperature readings
temperatures.loc['Morning',]

Maxine    64
James     79
Amanda    63
Name: Morning, dtype: int64

<br> **e)** Select from `temperatures` the rows for `'Morning'` and `'Evening'` temperature readings.

**Solution e):**

In [6]:
# 'Morning' and 'Evening' temperature readings
temperatures.loc[['Morning', 'Evening'],]

         Maxine  James  Amanda
Morning      64     79      63
Evening      70     56      65

<br> **f)** Select from `temperatures` the columns of temperature readings for `'Amanda'` and `'Maxine'`.

**Solution f):**

In [7]:
# Temperature readings for 'Amanda' and 'Maxine'
temperatures[['Amanda', 'Maxine']]

           Amanda  Maxine
Morning        63      64
Afternoon      72      75
Evening        65      70

<br> **g)** Select from `temperatures` the elements for `'Amanda'` and `'Maxine'` in the `'Morning'` and `'Afternoon'`.

**Solution g):**

In [8]:
# Temperature readings for 'Amanda' and 'Maxine' in 'Morning' and 'Afternoon'
temperatures.loc[['Morning', 'Afternoon'],['Amanda', 'Maxine']]

           Amanda  Maxine
Morning        63      64
Afternoon      72      75

<br> **h)** Use the `describe` method to produce `temperaturesâ€™` descriptive statistics.

**Solution h):**

In [9]:
# Descriptive statistics for 'temperatures' dataframe
temperatures.describe()

          Maxine      James     Amanda
count   3.000000   3.000000   3.000000
mean   69.666667  65.333333  66.666667
std     5.507571  12.096832   4.725816
min    64.000000  56.000000  63.000000
25%    67.000000  58.500000  64.000000
50%    70.000000  61.000000  65.000000
75%    72.500000  70.000000  68.500000
max    75.000000  79.000000  72.000000

<br> **i)** Transpose `temperatures`.

**Solution i):**

In [10]:
# Taking transpose of 'temperatures'
temperatures_transpose = temperatures.T
temperatures_transpose.head(3)

        Morning  Afternoon  Evening
Maxine       64         75       70
James        79         61       56
Amanda       63         72       65

<br> **j)** Sort `temperatures` so that its column names are in alphabetical order.

**Solution j):**

In [11]:
# Alphabetically sorting columns of 'temperatures' dataframe
temperatures.sort_index(axis = 1)

           Amanda  James  Maxine
Morning        63     79      64
Afternoon      72     61      75
Evening        65     56      70

____

## Chapter 8 - Strings: A Deeper Look

### 8.3 (Pig Latin)
Write a script that encodes English-language phrases into a form of coded language called pig Latin. There are many different ways to form pig Latin phrases.

For simplicity, use the following algorithm:
<br>To form a pig Latin phrase from an English-language phrase, tokenize the phrase into words with string method `split`. To translate each English word into a pig Latin word, place the first letter of the English word at the end of the word and add the letters **â€œay.â€** Thus, the word **â€œjumpâ€** becomes **â€œumpjay,â€** the word **â€œtheâ€** becomes **â€œhetay,â€** and the word **â€œcomputerâ€** becomes **â€œomputercay.â€** If the word starts with a vowel, just add **â€œay.â€** Blanks between words remain as blanks. Assume the following: The English phrase consists of words separated by blanks, there are no punctuation marks and all words have two or more letters. Enable the user to enter a sentence, then display the sentence in pig Latin.

**Solution:**

In [12]:
# A function to convert an english phrase into its Pig Latin form
def convert_english_phrase_to_pig_latin(arg_english_phrase):
    """A function to convert an english phrase into its Pig Latin form"""
    
    # Split the phrase into its constituent words and convert them to lowercase
    english_tokens = str.lower(arg_english_phrase).split()
    
    # Initialize an empty string to store the Pig Latin words
    pig_latin_phrase = []

    # Iterating through letters present in each word to generate the corresponding Pig Latin words
    for eng_word in english_tokens:
        # Splitting a word into its letters and storing it in a string
        letters = list(eng_word)

        # Checking if the word starts with a vowel or not and accordingly converting to its Pig Latin form
        if(letters[0] not in ['a', 'e', 'i','o', 'u']):
            letters.extend([letters[0],'a','y'])
            letters.pop(0)
        else:
            letters.extend(['a','y'])

        # Joining the letters to form the Pig Latin word and storing it in a list
        pig_latin_word = "".join(letters)
        pig_latin_phrase.append(pig_latin_word)
        
    return(" ".join(pig_latin_phrase).capitalize())

In [13]:
# Take a simple English phrase as input from the user
english_phrase = input("Enter a phrase in English: ")

Enter a phrase in English: The quick fox jumps over the lazy dog

In [15]:
print(f'The Pig Latin form for the english phrase "{english_phrase}" is:')
print(f'\n{convert_english_phrase_to_pig_latin(english_phrase)}')

The Pig Latin form for the english phrase "The quick fox jumps over the lazy dog" is:

Hetay uickqay oxfay umpsjay overay hetay azylay ogday

____

### 8.8 Converting Integers to Emojis
Modify the previous exercise to display 10 emojis beginning with the smiley face, which has the value `0x1F600:`

ðŸ˜€

The value `0x1F600` is a hexadecimal (base 16) integer. See the online appendix â€œNumber Systemsâ€ for information on the hexadecimal number system. You can find emoji codes by searching online for â€œUnicode full emoji list.â€ The Unicode website precedes each character code with `"U+"` (representing Unicode). Replace `"U+"` with `"0x"` to properly format the code as a Python hexadecimal integer.

In [16]:
# Hexadecimal code for smiley emoji
emoji = 0x1F600

# Printing the next ten emojis
print(f'Hexadecimal Code  Emoji')
for i in range(10):
    print(f'{hex(int(emoji+i))}{" ":>12}{emoji+i:c}')

Hexadecimal Code  Emoji
0x1f600            ðŸ˜€
0x1f601            ðŸ˜
0x1f602            ðŸ˜‚
0x1f603            ðŸ˜ƒ
0x1f604            ðŸ˜„
0x1f605            ðŸ˜…
0x1f606            ðŸ˜†
0x1f607            ðŸ˜‡
0x1f608            ðŸ˜ˆ
0x1f609            ðŸ˜‰

____

### 8.13 Regular Expressions: Condense Spaces to a Single Space
Check whether a sentence contains more than one space between words. If so, remove the extra spaces and display the results. For example, `'Hello  World'` should become `'Hello World'`.

In [17]:
# Defining a function to remove spaces from a sentence
def remove_extra_space_in_sentences(arg_sentence):
    """A function to check whether a sentence contains more than one space between words.
    If so, it removes the extra spaces and displays the results"""
    
    # Splitting the sentence into its consituent words and recombining them with a single space
    final_sentence = re.sub(r'\s+',' ', arg_sentence)
    
    # Checking if the length of the input sentence is the same as that of the output sentence.
    # If the length is same, then there were no extra spaces in the sentence
    if(len(arg_sentence) == len(final_sentence)):
        print(f'The input sentence had no extra spaces in between words')
    
    else:
        print(f'The input sentence had extra spaces in between words')
    
    print(f'The final sentence is-')
    print(f'\n{final_sentence}')

***Testing the function to see if it identifies extra spaces in a sentence***

- In example 1, we will include extra spaces in the sentence
- In example 2, we will not include extra spaces in the sentence

In [18]:
# Example 1: Take input sentence from the user
sentence_input_1 = input("Enter a sample sentence: ")

Enter a sample sentence: Mary said- "I   want a  glass of water"

In [19]:
# Passing the sentence input to the function
remove_extra_space_in_sentences(sentence_input_1)

The input sentence had extra spaces in between words
The final sentence is-

Mary said- "I want a glass of water"

In [20]:
#Example 2: Take input sentence from the user
sentence_input_2 = input("Enter a sample sentence: ")

Enter a sample sentence: Mary said- "I want a glass of water"

In [21]:
# Passing the sentence input to the function
remove_extra_space_in_sentences(sentence_input_2)

The input sentence had no extra spaces in between words
The final sentence is-

Mary said- "I want a glass of water"

_____