# Week 4 Assignment
<br><b>Student Name:</b> Karthik Maddipoti
<br><b>Student ID:</b> 005864907
<br><b>Course:</b> UCLA MSBA Python Workshop 2021
<br><b>Instructor:</b> Paul Deitel

## Self Assessment
* I have completed all the exercises for week 4. I was able to complete them without any issues
* I have incorporated the feedback I received in my previous assignments in this week's submission

____________

In [1]:
# Loading Required Packages
import numpy as np

## Chapter 6

### 6.3 What Does This Code Do? 
The dictionary ```temperatures``` contains three Fahrenheit temperature samples for each of four days. What does the for statement do?

```python
temperatures = {
    'Monday': [66, 70, 74],
    'Tuesday': [50, 56, 64],
    'Wednesday': [75, 80, 83],
    'Thursday': [67, 74, 81]
}

for k, v in temperatures.items():
    print(f'{k}: {sum(v)/len(v):.2f}')
```

**Answer**: The for statement code block extracts the key-value pairs from the dictionary and iterates through each key (i.e. days of the week) and prints the average temperature for that "day" key with two decimal points precision

In [2]:
# Initializing the dictionary - "temperatures"
temperatures = {
    'Monday': [66, 70, 74],
    'Tuesday': [50, 56, 64],
    'Wednesday': [75, 80, 83],
    'Thursday': [67, 74, 81]
}

# Printing the average temperature on each day present in the dictionary
for k, v in temperatures.items():
    print(f'{k}: {sum(v)/len(v):.2f}')

Monday: 70.00
Tuesday: 56.67
Wednesday: 79.33
Thursday: 74.00

____

### 6.6 Duplicate Word Removal
Write a function that receives a list of words, then determines and displays in alphabetical order only the unique words. Treat uppercase and lowercase letters the same. The function should use a set to get the unique words in the list. Test your function with several sentences.

In [3]:
# Function to create a unique list of alphabetically ordered words
def get_unique_sorted_list(arg_list):
    """This function accepts a list of words and then deduplicates it and returns 
    the alphabetically sorted list of words in lower case. 
    
    Note: The function treats uppercase and lowercase letters the same.
    """
    
    
    # Converting all words in the list to lower case
    arg_list = [x.lower() for x in arg_list]
    
    # Creating a set out of the list of words to retain unique words and then converting it back to a list
    # becuase "Sets" are an unordered collection of unique values and hence cannot be sorted
    unique_set = set(arg_list)
    unique_list = list(unique_set)
    
    # Deleting the variable: 'unique_set' to save memory
    del unique_set
    
    # Sorting the words in the list in alphabetical order
    unique_list = sorted(unique_list)
    
    return unique_list

In [4]:
# Example 1
# Testing the function with a list of words
test_list_1 = ['Karthik', 'karthik', 'apple', 'aPPle', 'Food', 'train']

# Printing the input and output list of words after using function "get_unique_sorted_list()"
print(f'The input list of words are:')
print(f'{test_list_1}')
final_list_1 = get_unique_sorted_list(test_list_1)
print(f'\nAnswer: The unique-alphabetically sorted list of words are:')
print(f'{final_list_1}')

The input list of words are:
['Karthik', 'karthik', 'apple', 'aPPle', 'Food', 'train']

Answer: The unique-alphabetically sorted list of words are:
['apple', 'food', 'karthik', 'train']

In [5]:
# Example 2
# Testing the function with a list of words
test_list_2 = ['Science', 'Science', 'geoGraphy', 'MatH', 'history', 'PHYSICS', 'math', 'geography']

# Printing the input and output list of words after using function "get_unique_sorted_list()"
print(f'The input list of words are:')
print(f'{test_list_2}')
final_list_2 = get_unique_sorted_list(test_list_2)
print(f'\nAnswer: The unique-alphabetically sorted list of words are:')
print(f'{final_list_2}')

The input list of words are:
['Science', 'Science', 'geoGraphy', 'MatH', 'history', 'PHYSICS', 'math', 'geography']

Answer: The unique-alphabetically sorted list of words are:
['geography', 'history', 'math', 'physics', 'science']

____

### 6.9 Dictionary Manipulations
Using the following dictionary, which maps country names to Internet top-level domains (TLDs):
```python
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

```
perform the following tasks and display the results:
<ol type="a">
    <li>Check whether the dictionary contains the key 'Canada'.</li>
    <li>Check whether the dictionary contains the key 'France'.</li>
    <li>Iterate through the key–value pairs and display them in two-column format.</li>
    <li>Add the key–value pair '<b>Sweden</b>' and '<b>sw</b>' (which is incorrect).</li>
    <li>Update the value for the key '<b>Sweden</b>' to '<b>se</b>'.</li>
    <li>Use a dictionary comprehension to reverse the keys and values.</li>
    <li>With the result of part (6), use a dictionary comprehension to convert the country names to all uppercase letters.</li>
</ol>

In [6]:
# Initializing the dictionary: 'tlds'
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

In [7]:
# Solution for part 1)
# Q. Check whether the dictionary contains the key 'Canada'
print(f" The value associated with the key 'Canada' is {tlds.get('Canada')}")

 The value associated with the key 'Canada' is ca

In [8]:
# Solution for part 2)
# Q. Check whether the dictionary contains the key 'France'
print(f" The value associated with the key 'France' is {tlds.get('France')}")

 The value associated with the key 'France' is None

In [9]:
# Solution for part 3)
# Q. Iterate through the key–value pairs and display them in two-column format
print(f'        Country   Country Code')
for country, country_code in tlds.items():
    print(f'{country:>15}   {country_code:>12}')

        Country   Country Code
         Canada             ca
  United States             us
         Mexico             mx

In [10]:
# Solution for part 4)
# Q. Add the key–value pair 'Sweden' and 'sw' (which is incorrect)
tlds['Sweden'] = 'sw'
print(tlds)

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'sw'}

In [11]:
# Solution for part 5)
# Q. Update the value for the key 'Sweden' to 'se'
tlds['Sweden'] = 'se'
print(tlds)

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'se'}

In [12]:
# Solution for part 6)
# Q. Use a dictionary comprehension to reverse the keys and values
tlds_reversed = {country_code: name for name, country_code in tlds.items()}
print(tlds_reversed)

{'ca': 'Canada', 'us': 'United States', 'mx': 'Mexico', 'se': 'Sweden'}

In [13]:
# Solution for part 7)
# Q. With the result of part (6), use a dictionary comprehension to convert the country names to all uppercase letters
tlds_reversed = {country_code: country.upper() for country_code, country in tlds_reversed.items()}
print(tlds_reversed)

{'ca': 'CANADA', 'us': 'UNITED STATES', 'mx': 'MEXICO', 'se': 'SWEDEN'}

____

## Chapter 7

### 7.2 Broadcasting
Use **arange** to create a 2-by-2 **array** containing the numbers 0–3. Use broadcasting to perform each of the following operations on the original **array**:

<ol type="a">
    <li>Cube every element of the <b>array</b>.</li>
    <li>Add 7 to every element of the <b>array</b>.</li>
    <li>Multiply every element of the array by 2.</li>
</ol>

In [14]:
# Creating a 2-by-2 array containing the numbers 0–3
arr = np.arange(4).reshape(2, 2)
print(f'{arr}')

[[0 1]
 [2 3]]

In [15]:
# Solution to part 1)
# Q. Cube every element of the array
print(f'{arr ** 3}')

[[ 0  1]
 [ 8 27]]

In [16]:
# Solution to part 2)
# Q. Add 7 to every element of the array
print(f'{np.add(arr, 7)}')

[[ 7  8]
 [ 9 10]]

In [17]:
# Solution to part 3)
# Q. Multiply every element of the array by 2
print(f'{np.multiply(arr, 2)}')

[[0 2]
 [4 6]]

____

### 7.3 Element-Wise array Multiplication
Create a 3-by-3 **array** containing the even integers from 2 through 18. Create a second 3-by-3 **array** containing the integers from 9 down to 1, then multiply the first **array** by the second.

In [18]:
# Creating a 3-by-3 array containing the even integers from 2 through 18
arr_1 = np.arange(2, 20, 2).reshape(3, 3)
print(f'Array 1:')
print(f'{arr_1}')

# Creating a 3-by-3 array containing the integers from 9 down to 1
arr_2 = np.arange(9, 0, -1).reshape(3, 3)
print(f'\nArray 2:')
print(f'{arr_2}')

Array 1:
[[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]

Array 2:
[[9 8 7]
 [6 5 4]
 [3 2 1]]

In [19]:
# Element-wise array multiplication of array 1 and array 2
print(f'Element-wise array multiplication of array 1 and array 2:')
print(f'{arr_1 * arr_2}')

Element-wise array multiplication of array 1 and array 2:
[[18 32 42]
 [48 50 48]
 [42 32 18]]

___

### 7.9 Indexing and Slicing arrays
Create an **array** containing the values 1–15, **reshape** it into a 3-by-5 array, then use indexing and slicing techniques to perform each of the following operations:

<ol type="a">
    <li>Select row 2.</li>
    <li>Select column 5.</li>
    <li>Select rows 0 and 1.</li>
    <li>Select columns 2–4.</li>
    <li>Select the element that is in row 1 and column 4.</li>
    <li>Select all elements from rows 1 and 2 that are in columns 0, 2 and 4.</li>
</ol>

In [20]:
# Creating an array containing the values 1–15, reshape it into a 3-by-5 array
arr = np.arange(1,16,1).reshape(3, 5)
print(f'{arr}')

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

In [21]:
# Solution to part 1)
# Q. Select row index 2
print(f'{arr[2]}')

[11 12 13 14 15]

In [22]:
# Solution to part 2)
# Q. Select column index 4
print(f'{arr[:,4]}')

[ 5 10 15]

In [23]:
# Solution to part 3)
# Q. Select row indexes 0 and 1
print(f'{arr[:2,:]}')

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [24]:
# Solution to part 4)
# Q. Select column indexes 2–4
print(f'{arr[:,2:]}')

[[ 3  4  5]
 [ 8  9 10]
 [13 14 15]]

In [25]:
# Solution to part 5)
# Q. Select the element that is in row index 1 and column index 4
print(f'{arr[1,4]}')

10

In [26]:
# Solution to part 6)
# Q. Select all elements from rows 1 and 2 that are in columns 0, 2 and 4
print(f'{arr[1:3,[0,2,4]]}')

[[ 6  8 10]
 [11 13 15]]

____

### 7.14 Horizontal and Vertical Stacking
Create the two-dimensional arrays
```python
array1 = np.array([[0, 1], [2, 3]])
array2 = np.array([[4, 5], [6, 7]])
```
<ol type="a">
    <li>Use vertical stacking to create the 4-by-2 array named array3 with array1 stacked on top of array2.</li>
    <li>Use horizontal stacking to create the 2-by-4 array named array4 with array2 to the right of array1.</li>
    <li>Use vertical stacking with two copies of array4 to create a 4-by-4 array5.</li>
    <li>Use horizontal stacking with two copies of array3 to create a 4-by-4 array6.</li>
</ol>

In [27]:
# Creating array1 and array2
array1 = np.array([[0, 1], [2, 3]])
array2 = np.array([[4, 5], [6, 7]])

# Printing the arrays
print(f'array1:')
print(f'{array1}')
print(f'\narray2:')
print(f'{array2}')

array1:
[[0 1]
 [2 3]]

array2:
[[4 5]
 [6 7]]

In [28]:
# Solution to part 1)
# Q. Use vertical stacking to create the 4-by-2 array named array3 with array1 stacked on top of array2
array3 = np.vstack((array1,array2))
print(f'{array3}')

[[0 1]
 [2 3]
 [4 5]
 [6 7]]

In [29]:
# Solution to part 2)
# Q. Use horizontal stacking to create the 2-by-4 array named array4 with array2 to the right of array1
array4 = np.hstack((array1,array2))
print(f'{array4}')

[[0 1 4 5]
 [2 3 6 7]]

In [30]:
# Solution to part 3)
# Q. Use vertical stacking with two copies of array4 to create a 4-by-4 array5
array5 = np.vstack((array4,array4))
print(f'{array5}')

[[0 1 4 5]
 [2 3 6 7]
 [0 1 4 5]
 [2 3 6 7]]

In [31]:
# Solution to part 4)
# Q. Use horizontal stacking with two copies of array3 to create a 4-by-4 array6
array6 = np.hstack((array3,array3))
print(f'{array6}')

[[0 1 0 1]
 [2 3 2 3]
 [4 5 4 5]
 [6 7 6 7]]

____